<div class="container">
    <ul class="nav">
        <li class="nav-item m-2">
            <a class="nav-link" aria-current="page" routerLinkActive="active" [routerLink]="['exercise1']"
                [routerLinkActiveOptions]="{exact: true}">{{link1 | uppercase}}</a>
        </li>
        <li class="nav-item m-2">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['exercise2']"
                [routerLinkActiveOptions]="{exact: true}">{{link2 | uppercase}}</a>
        </li>
    </ul>
</div>
<router-outlet></router-outlet>