<div class="description-box w-75">
    <h6><b>Angular custom fixed range component</b></h6><br>
    <p>
        In this case, we receive an array from service with different price values: 
        <i>[1,99, 5,99, 10,99, 30,99, 50,99, 70,99]</i> (or any other values).
        When the range component receives this values assigns a specific px possition 
        for each which is relative to the range width.<br>
        When a bullet reaches a price position, an event is triggered to stop propagation
        and the price range gets its values set. This Cdk drag event has to be stopped manually,
        as Cdk doesn't provide it while moving.
    </p>
</div>
<ngc-range [values]="priceRangeArray" [fixed]="true" [(ngModel)]="priceRange" (rangeChange)="setPrices($event)"></ngc-range>
<div>
    <h6><b>Binded price range values to parent: </b></h6><br>
    <p><b>MIN VALUE: </b>{{priceRange.min |  number : '1.2-2'}}€ </p>
    <p><b>MAX VALUE: </b>{{priceRange.max |  number : '1.2-2'}}€ </p>
</div>