<div class="container">
    <!-- RANGE ELEMENT -->
    <div class="parent row" id="parent">
        <div id="firstColumn" class="col-2 p-0 d-flex justify-content-start">
            <span *ngIf="!firstInputActive" #firstValueLabel id="firstValueLabel" class="m-0"
                (click)="inputActive(true)">
                {{firstValue | number:'1.0-2'}}€
            </span>
            <input *ngIf="firstInputActive" type="number" #firstValueInput id="firstValueInput" name="firstValueInput"
                (keydown.enter)="inputActive(true)" (keydown.enter)="changeBulletPosition(firstValueInput.value, true)"
                min="10" max="100" [(ngModel)]="firstValue">
        </div>
        <div id="rangeColumn" class="col-8 p-0 d-flex justify-content-center">
            <div class="range-parent">
                <div class="range"></div>
                <!-- FIRST BOUNDARY -->
                <div class="first-boundary" [ngStyle]="{'width': getFirstBoundaryWidth()}">
                    <!-- FIRST BULLET -->
                    <div class="bullet" #firstBullet id="firstBullet" cdkDragLockAxis="x"
                        cdkDragBoundary=".first-boundary" [cdkDragFreeDragPosition]="firstBulletDragPosition" cdkDrag
                        (cdkDragEnded)="getFirstBulletValue($event)" (cdkDragMoved)="getFirstBulletValue($event)">
                    </div>
                </div>
                <!-- SECOND BOUNDARY -->
                <div class="second-boundary"
                    [ngStyle]="{'width': secondBoundaryWidth + 'px', 'margin-left': secondBoundaryPosition}">
                    <!-- SECOND BULLET -->
                    <div class="bullet" #secondBullet id="secondBullet" cdkDragLockAxis="x"
                        cdkDragBoundary=".second-boundary" [cdkDragFreeDragPosition]="secondBulletDragPosition" cdkDrag
                        (cdkDragEnded)="getSecondBulletValue($event)" (cdkDragMoved)="getSecondBulletValue($event)">
                    </div>
                </div>
            </div>
        </div>
        <div id="thirdColumn" class="col-2 p-0 d-flex justify-content-end">
            <span *ngIf="!secondInputActive" #secondValueLabel id="secondValueLabel" class="m-0"
                (click)="inputActive(false)">
                {{secondValue | number:'1.0-2'}}€
            </span>
            <input *ngIf="secondInputActive" type="number" #secondValueInput id="secondValueInput"
                name="secondValueInput" (keydown.enter)="inputActive(false)"
                (keydown.enter)="changeBulletPosition(secondValueInput.value, false)" min="10" max="100"
                [(ngModel)]="secondValue">
        </div>
    </div>
    
</div>
{{minValue}}
{{maxValue}}