.description-box,
    p,
    h6,
    span {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        margin: 0 auto;
    }
span {
    font-size: 12px;
}

.parent {
    height: 26px;
    width: 400px !important;
    display: flex;
    align-items: center;
    position: relative;
}

.range-parent {
    width: 200px;
    height: 12px;
    display: flex;
    align-items: center;
    position: relative;
}

.first-boundary {
    width: 200px;
    height: 12px;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 100;
}

.second-boundary {
    width: 212px;
    height: 12px;
    max-width: 212px !important;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 99;

}

.range {
    height: 3px;
    background-color: #000000;
    width: 200px;
}

.bullet {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #000000;
    cursor: pointer;
    &:hover {
        height: 14px;
        width: 14px;
    }
}
.handle {
    position: absolute;
    color: #ccc;
    cursor: grab;
    width: 12px;
    height: 30px;
}

.ng-invalid {
    color: red;
}

.disabled {
    color: #ccc;
    opacity: 0.5;
    pointer-events: none;
}

/* REMOVE ARROWS FROM NUMBER INPUTS*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

@media only screen and (max-width: 600px) {
    .col-12 {
        justify-content: center !important;
        margin: 4px;
    }
}