<div class="container">
    <!-- RANGE ELEMENT -->
    <div class="parent row" id="parent" >
        <!-- MIN VALUE -->
        <div id="firstColumn" [formGroup]="form" class="col-2 p-0 d-flex justify-content-end">
            <span *ngIf="!firstInputActive && priceRange" #firstValueLabel id="firstValueLabel" class="m-0">
                {{priceRange.min | number : '1.2-2'}}€
            </span>
            <input *ngIf="firstInputActive && !fixed" type="number" #firstValueInput id="firstValueInput"
                formControlName="firstValueInput" (keydown.enter)="inputActive(true)"
                (keydown.enter)="changeBulletPosition(firstValueInput.value, true)" min="0" max="100"
                [(ngModel)]="priceRange.min">
        </div>
        <div id="rangeColumn" class=" col-12 col-sm-8 p-0 d-flex justify-content-center">
            <div #rangeParent id="rangeParent" class="range-parent"
                [class.disabled]="this.form.controls.firstValueInput.invalid || this.form.controls.secondValueInput.invalid">
                <div class="range"></div>
                <!-- FIRST BOUNDARY -->
                <div class="first-boundary" [ngStyle]="{'width': secondBulletDragPosition.x + 'px'}">
                    <!-- FIRST BULLET -->
                    <div class="bullet" #firstBullet id="firstBullet" cdkDragLockAxis="x"
                        cdkDragBoundary=".first-boundary" [cdkDragFreeDragPosition]="firstBulletDragPosition" cdkDrag
                        (cdkDragMoved)="getFirstBulletValue($event)">
                        <div #firstHandle id="firstHandle" class="handle" cdkDragHandle></div>
                    </div>
                </div>
                <!-- SECOND BOUNDARY -->
                <div class="second-boundary" [ngStyle]="{'width': (boundary + 12) + 'px'}">
                    <!-- SECOND BULLET -->
                    <div class="bullet" #secondBullet id="secondBullet" cdkDragLockAxis="x"
                        cdkDragBoundary=".second-boundary" [cdkDragFreeDragPosition]="secondBulletDragPosition" cdkDrag
                        (cdkDragMoved)="getSecondBulletValue($event)">
                        <div #secondHandle id="secondHandle" class="handle" cdkDragHandle></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- MAX VALUE -->
        <div id="thirdColumn" [formGroup]="form" class="col-2 p-0 d-flex justify-content-end">
            <span *ngIf="!secondInputActive && priceRange" #secondValueLabel id="secondValueLabel" class="m-0"
                (click)="inputActive(false)">
                {{priceRange.max | number : '1.2-2'}}€
            </span>
            <input *ngIf="secondInputActive" type="number" #secondValueInput id="secondValueInput"
                formControlName="secondValueInput" (keydown.enter)="inputActive(false)"
                (keydown.enter)="changeBulletPosition(secondValueInput.value, false)" min="10" max="100"
                [(ngModel)]="priceRange.max">
        </div>
    </div>
</div>
<div class="mb-4">
    <p>First bullet PX position: {{firstBulletDragPosition.x | number : '1.2-2'}}</p>
    <p>Second bullet PX position: {{secondBulletDragPosition.x | number : '1.2-2'}}</p>
</div>